---
layout: page
title : Availability and Prices
header : Availability and Prices
group: navigation
---
{% include JB/setup %}

<p>Visitors from the UK will find it easiest to book instantly online at <a href="http://www.holidaylettings.co.uk/rentals/moraira/10731">HolidayLettings.co.uk</a></li>
<br>Visitors who prefer to book and pay in Euros, please <a href="mailto:{{ site.author.email }}">email us.</a> We usually respond within hours.
<div style="display:inline-block;"><iframe scrolling="no" width="518" height="770" frameBorder="0" style="overflow:hidden;border:none" src="http://www.ownersdirect.co.uk/haow/widgets/calendar.html?propertyId=1882313&unitId=3595217&monthCount=12&orientation=full&site=odhr"></iframe><a href="http://www.ownersdirect.co.uk/accommodation/p1882313" style="display:block;text-align:center;margin-top:-30px; font-size:12px;" rel="nofollow">OwnersDirect.co.uk #1882313</a></div>
<div id="Prices">
<h3>Prices</h3>
<p>Mid-week changeovers, short stays and special rates for long lets out of season may be available on request. Please <a href="mailto:{{ site.author.email }}">contact us.</a>
{% for post in site.categories.calendar %}
fuckity fuckity fuck
{{post.content}}
{% endfor %}
</div>
